@{
    ViewData["Title"] = "Ana Sayfa";
}
<div class="home">
    <nav class="sidenav" id="sidenav">
        <a href="#" id="close" class="close" onclick="closebarClicked()"></a>
        <a href="/home">Ana Sayfa</a>
        <a href="/users">Kullanıcılar</a>
        <a href="/sliders">Slider</a>
        <a href="/types">Mekan Tipleri</a>
        <a href="/cities">Ülkeler/Şehirler/İlçeler</a>
        <a href="/places">Yerler</a>
        <a href="#" onclick="exitClick()" >Çıkış Yap</a>
    </nav>
    <div class="main" id="menubar">
        <div class="menu-barContainer" onclick="menubarClicked()">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
        <div class="">

        </div>
    </div>
</div>